.menu {
    float: left;
}

.box {
    min-width: 1000px;
    /*width: auto;*/
}
.subBox{
    min-width: 12%;
    margin: 0.06%;
}

.whisperF{
    color: white;
    background-color: purple;
    border-radius: 10%;
    padding: 2px;
}

.whisperT{
    color: white;
    background-color: peachpuff;
    border-radius: 10%;
    padding: 2px;
}

.chat{
    float: right;
    width: 30%;
    height: 600px;
    position: fixed;
    left: 70%;
}

#containerChat {
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
    position: relative;
}

.form-control:active {
    color: #ddd;
}
.home-head {
    margin: 0px;
    padding: 0px;
}

.content {
    /*margin-top: 20px;*/
    margin-bottom: 100px;
}
.jumbotron{
    background-image: url('/resources/assets/img/homepage_banner.jpg');
    background-size: cover;
    color: white;
    height: 700px;
}

.brand{
    margin-top: 100px;
    color: darkgray;
    font-size: 40px;

}

.footer-nav {
    margin-top: 22px;
    list-style: none;
    font-size: 20px;

}
.footer-nav li {
    display: inline;
}

.copy {
    margin: 25px;
    margin-left: 50px;
}

.one {
    margin-top: 250px;
}
.header-search {
    margin-top: 15px;
}


.img-circle {
    width: 100%;
    margin-left: 50px;

}
.reg {
    margin-top: 15px;
    border-radius: 5px;
}

.bottom {
    height: 70px;
    background-color: #E3E3E3;

}
.title-content {
    color: gray;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.cap {
    padding: 0px;
}

.thumbnail {
    background-color: #E3E3E3;
}

/*.activity-content {*/
/*width: 400px;*/
/*}*/

.rm {
    padding-top: 5px;
}

.bg-danger {
    color: red;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.warning2 {
    color: red;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}
.policy {
    font-size: 9px;
    color: lightgray;
    text-align: center;
}
.fmp {
    padding: 0px;
    /*    padding-top: 15px;*/
    text-align: center;
}

.email-password {
    padding-bottom: 10px;
}

.modal-footer {
    margin: 0px;
    padding-top: 20px;
    text-align: left;
}
.or {
    text-align: center;
    padding: 15px;
}
.modal-body {
    padding: 0px;
}

.user-foto {
    margin-top: 8px;
    margin-left: 20px;
    padding: 0px;
}

input.ng-invalid {
    border: 1px solid red;
}

#sort {
    margin: 8px 0px 0px 0px;
}

.content{
    height: 0pt;
    width: 100%;
    font-family: Helvetica;
}


#left-text{

    margin-bottom: 12pt;

}

#subject {

    margin-left: 15pt;
    height: 80px;
}

#activity {
    margin: 10px;
    width: 730pt;
    height: 140pt;
    background: #F8F8F8;
    border: 1px solid #E3E3E3;
}

#name-activity{
    font-size:  20pt;
}

#subject-activity{
    margin: 6px 10px -25px;
    font-size:  14pt;
}

#img-activity{
    height: 140pt;
    width: 165pt;

}

#text-activity {
    text-align: right;
    height: 140pt;
    width: 185pt;
}

#center-activity {
    margin: 0pt 7pt;
    height: 140pt;
    width: 382pt;
}



#imgAct {
    margin: 6% 5%;
    height: 120pt;
    width: 156pt;
}

#raiting-activity{

    margin: 11px 0 0 7px;
    height: 25pt;
    width: 156pt;
}


#passed{

    font-size: 11pt;
}

#age-activity{

    margin: -19pt 0pt 2pt;
}

#date-activity{

    margin: -15pt 0pt 0pt;
}

#autor-activity{


}

#activities {
    width: 100%;
    height: 90%;
}


#rait {
    margin-right: 10px;
}

#leftside {

    margin-left: 30px;
}

.btn {
    border-radius: 10px;
}

#sorting {

    margin-top: 7px;
}

.heading {

    margin-top: 15px;
}
/*#type {*/

/*pading-rigth: 0px;*/
/*pading-left: 2px;*/
/*}*/

#age {
    margin-left: 15px;
}

/*#sorting {*/
/*pading-rigth: 0px;*/
/*pading-left: 2px;*/
/*}*/


#difficult {

    width: 50pt;
}

#btn-type{

    width: 60pt;
}

#btn-activity{

    width: 65pt;
}

#pagin {
    margin-bottom: 0pt;

}

#pagin-prev{

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
#pagin-next{

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

#diff{
    margin-top: -8pt;
}