.activity-border{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-family: Helvetica;
    font-style: normal;
    color: #5C5C5C;
    margin-top: 20px;
}
.activity-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.format {
    background: #F0F0F0;
    padding: 20px;
}
.separate-line {
    border-color: #999999;
}
.block-interval {
    margin-top: 20px;
    margin-bottom: 20px;
}
.date-float{
    float: right;
}
.yellow{
    color: yellow;
}
.block-interval-line {
    margin-top: 5px;
    margin-bottom: 5px;
}