<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="evg.testt"/>

    <aop:aspectj-autoproxy>
        <aop:include name="aspectLoggerController"/>
    </aop:aspectj-autoproxy>

    <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean id="departmentController" class="evg.testt.controller.DepartmentController" />
    <bean id="aspectLoggerController" class="evg.testt.aop.logger.AspectLoggerController" />
    <bean id="departmentServiceImpl"
          class="evg.testt.service.impl.DepartmentServiceImpl" />
    <aop:config>
        <!--<aop:aspect ref="aspectLoggerController">-->
        <aop:pointcut id="aspectLoggerControllerPointcutDelete" expression="execution(* evg.testt..*.delete*(..))"/>
        <aop:advisor advice-ref="aspectLoggerController" pointcut-ref="aspectLoggerControllerPointcutDelete"
                     id="aspectLoggerControllerAdvisorDelete"/>
        <!--<aop:before pointcut-ref="delete" method="deleteBeforeDepartment"/>-->
        <!--<aop:after pointcut-ref="delete" method="deleteAfterDepartment"/>-->
    </aop:config>
</beans>